build/
dist/
nbproject/private/
target/
cmake/
pom.xml.asc
CMakeSettings.json
.vs/
.project
.settings
.vscode/
.classpath
src/generated/
library/dependency-reduced-pom.xml
library/.flattened-pom.xml
